*{
    font-family: monospace;
    text-align: center;
}
.grid-container {
    display: none;
    grid-template-columns: auto auto auto auto;
    padding: 4px;
    width: 40vw;
    height: 40vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 600px;
    max-height: 600px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 10vw;
    height: 10vw;
    min-width: 75px;
    min-height: 75px;
    max-width: 150px;
    max-height: 150px;
}
.grid-item .icon{
    width: 100%;
    height: 100%;
}
.grid-a{
    font-size: 15px;
}
#p2, #p3, #a2, #a3, #a5, #a6, #a8, #a9{
    border-left: 2px solid black;
}
#p5, #p6, #a4, #a5, #a6, #a7, #a8, #a9{
    border-top: 2px solid black;
}






#header{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
h2{
    margin: 0px;
    padding: 10px;
}
#card_selector{
    position: absolute;
    top: 100px;
    right: 10px;
    width: 300px;
    background: gray;
    padding: 10px;
}
#card_selector input{
    width: 80%;
}
.icon{
    width: 32px;
    height: 32px;
}
.card-img{
    float:left;
    object-fit: cover;
    width: 70%;
    height: 100%;
    z-index: 0;
}