#puzzle{
    margin-top: 10px;
    border: 3px solid rgba(255,255,255,0.1);
}
.icon{
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}
.card-img{
    float:left;
    object-fit: cover;
    width: 70%;
    height: 100%;
    z-index: 0;
}
.cardname{
    background: rgba(0, 0, 0, 0.4);
    font-size: 10px;
}
.incorrect {
    position: relative; /* Ensure this works well with the box-shadow */
    animation: fadeOutIncorrect 3s forwards;
}
.correct {
    position: relative; /* Ensure this works well with the box-shadow */
    animation: fadeOutCorrect 3s forwards;
}
.grid-container {
    margin: 0 auto;
    display: none;
    grid-template-columns: auto auto auto auto;
    padding: 4px;
    width: 40vw;
    height: 40vw;
    min-width: 400px;
    min-height: 400px;
}
.grid-item {
    font-size: 10px;
    text-align: center;
    width: 10vw;
    height: 10vw;
    min-width: 100px;
    min-height: 100px;
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;

}
.grid-item .icon{
    image-rendering: pixelated;
    width: 90%;
    height: 90%;
    padding: 5%;
}
.grid-a{
    font-size: 14px;
}
