#puzzle {
    margin: 10px auto;
    border: 3px solid rgba(255,255,255,0.1);
    margin-bottom: 5vh;
    width: 100%;
    max-width: 75vh;
    min-width: 300px;
}
#stats_full{
    display: none;
}
#searchbar{
    background: none;
    border: 1px solid white;
    padding: 9px 15px;
    width: 100%;
    text-align: center;
}
.img-container{
    position: relative;
    display: inline-block;
    width: 100%;
}
.icon{
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}
.label {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    font-weight: 900;
    text-shadow: 1px 1px 2px black;
}
.card-img{
    float:left;
    object-fit: cover;
    width: 70%;
    height: 100%;
    z-index: 0;
}
.cardname{
    background: rgba(0, 0, 0, 0.4);
    font-size: 10px;
}
.incorrect {
    position: relative;
    animation: fadeOutIncorrect 3s forwards;
}
.correct {
    position: relative;
    animation: fadeOutCorrect 3s forwards;
}
.grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    width: 100%;
    aspect-ratio: 1 / 1;
}
.grid-container2 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    width: 200px;
    max-width: 100%;
    aspect-ratio: 2 / 1;
}
#question{
    width: 100%;
    text-align: center;
    display:block;
}
.grid-item {
    font-size: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid rgba(255,255,255,0.1);
}
.grid-item .icon {
    image-rendering: pixelated;
    width: 80%;
    height: auto;
    aspect-ratio: 1/1;
    margin: 10%;
}
#stats_full{
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.stat_block {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    padding: 1.5%;
    border: 1px solid white;
    box-sizing: border-box;
}
.format.color-bad{
    display: inline-block;
    border: 1px dashed rgb(73, 73, 73);
    padding: 2px;
    margin: 2px;
}
.format.color-good{
    display: inline-block;
    border: 1px solid grey;
    padding: 2px;
    margin: 2px;
}
.grid-a{
    font-size: 14px;
}
.color-good{
    color: #69cb6d;
}
.color-bad{
    color: #cb6e69;
}
table, th, td {
  border:1px solid gray;
}
table{
    width: 100%;
}