{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='js/list.js' ) }}" ></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/list.css' ) }}">

<h2>Magic the Gathering Sudoku Puzzles</h2>
<br>
<h2>
    <img style='width: 24px;' src="https://svgs.scryfall.io/card-symbols/W.svg" /> 
    <img style='width: 24px;' src="https://svgs.scryfall.io/card-symbols/U.svg" /> 
    <img style='width: 24px;' src="https://svgs.scryfall.io/card-symbols/B.svg" /> 
    <img style='width: 24px;' src="https://svgs.scryfall.io/card-symbols/R.svg" /> 
    <img style='width: 24px;' src="https://svgs.scryfall.io/card-symbols/G.svg" /> 
    <br><br>
</h2>
<br><br>
<h3>Puzzle History</h3>
<br>
<div id="list">
    <div style="text-align: center;">
        <img style='max-width: 100%;width:200px;' 
        src="https://cards.scryfall.io/art_crop/front/4/a/4a639687-d9e3-46a8-bc9f-6ca3912c46ab.jpg"/>
        <br>
        <small style="color: rgba(255,255,255,0.5)">No Puzzles to be found</small>
        <br>
        <small style="color: rgba(255,255,255,0.5)">(Better start one, just to be safe)</small>
    </div>
</div>
<br><br>
<h3>Other Tools</h3>
<br>
<button onclick='clear_storage()' class='nav_button' ><img width=20px src="{{ url_for('static', filename='gif/recycle.gif' ) }}"/> Reset Saved Puzzles</button>
<button onclick='exportLocalStorage()' class='nav_button' ><img width=20px src="{{ url_for('static', filename='gif/disc.gif' ) }}"/> Export Save</button>
<button onclick='importLocalStorage()' class='nav_button' ><img width=20px src="{{ url_for('static', filename='gif/computer10.gif' ) }}"/> Import Save</button>
<button onclick='window.open("https://github.com/probably-not-porter/mtgdoku/issues")' class='nav_button' ><img width=20px src="{{ url_for('static', filename='gif/question.gif' ) }}"/> Report an Issue</button>

<script> load_all_boards(); </script>
{% endblock %}